*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/kohii-demo/src/androidTest/
/kohii-demo/src/test/
/kohii-demo/.gitignore
/kohii-draft/src/androidTest/
/kohii-draft/src/test/
/kohii-draft/.gitignore
